body {
    background-color: #9a9999;
    margin: 0;
    padding: 0;
    background: url(./movie\ gif.gif);
    background-size: cover;
  }

.container{
  
    display: flex;
    justify-content: space-between;
    background-color: rgb(81, 73, 73);
    color: white;
    margin: 0;
    padding: 0;
    height:70px ;
    align-items: center;
    margin-bottom: 5px;
    

}
.search_area{
    width: 50%;
    text-align: center;
    display: flex;
  
}
.input{
    width: 80%;
    height: 50px;
    border-radius: 10px 0 0 10px;
    background-color: gray;
    border-right: none;
    outline: none;
    border: 1px solid #ccc;
    color: white;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 600;
    
}
.input::placeholder{
    color: white;
    font-size: 20px;
    font-weight: 600;

}
.btn{
    width: 60px;
    height: 50px;
    border-radius: 0 10px 10px 0;
    background-color: yellow;
    border-left: none;
    cursor: pointer;
    border: 1px solid #ccc;
}
.btnback{
  width: 10%;
  height: 40px;
  border-radius: 5px;
  background-color: yellow;
  
  cursor: pointer;
  border: 1px solid #ccc;
  position: absolute;
  right: 5px;
  font-size: 20px;
  font-weight: 600;
  color: gray;
  top: 2px;
}
.favoritesitehead{
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  align-items: center;
  margin-top: 5px;
  background-color: gray;


}
.favorite{
    background-color: yellow;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: grey;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    cursor: pointer;
}
/* // */

.parentContent {
    display: flex;
    flex-direction: column; 
    gap: 1px;
    /* display: block; */
  }
  
  .movie-item {
    display: flex;
    align-items: center;
    background-color: #424242;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;

    

  }
  .favoritesite{
    display: none;
    display: flex;
    align-items: center;
    background-color: gray;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    width: 100%;
   
    margin-bottom: 5px;

    


  }
  .favoritesite img{
    width: 15%;
    height: 170px;
    object-fit: cover;
    margin: 10px;
    object-fit: cover;

  }
 
  
  .movie-item img {
    width: 15%;
    height: 150px;
    object-fit: cover;
    margin: 10px;
  }
  
  .movie-details {
    flex: 1;
    padding: 10px;
  }
  .movie-details h3 {
    margin: 0 0 5px 0;
    font-size: 20px;
  }
  
  .movie-details p {
    margin: 0;
    color: #bdbdbd;
  }
  
  
  
  .btnfavori {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #fdd835;
    color: #000;
    font-weight: bold;
    cursor: pointer;
  }
  .btnfavori:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
  .movie-action button:hover {
    background-color: #ffca28;
  }

  .favheader{
    display: none;
    
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: 600;
  }
  #backbtn{
    display: none;
  }
 
